.form {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 10px;
  background-color: rgb(200, 203, 204);
}

.form input{
  display: flex;
  margin: 5% auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  flex-direction:row;
  flex-flow: wrap;
  align-items: center;
}

.geolocation {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.geolocation input {
  width: 20%;
  margin: auto;
  margin: 10% 15px;
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
}

#cadastrar {
  display: flex;
  text-align: center;
  background-color: rgb(31, 204, 77);
  border: 1px solid grey;
  margin: 0 auto;
  color: white;
  padding: 5px 5%;
}

#resetar {
  display: flex;
  text-align: center;
  background-color: rgb(207, 14, 14);
  border: 1px solid grey;
  margin: 5% auto;
  color: white;
  padding: 5px 5%;
}

#buscar {
  display: flex;
  text-align: center;
  text-decoration: underline;
  background-color: rgb(51, 54, 52);
  border: none;
  margin: 1% auto;
  color: white;
  padding: 5px 5%;
}

.vertical-line {
  border-left: 2px solid black;
  height: 400px;
}

.map {
  display: flex;
}

.delivery-list {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  
}

.delivery-list > p {
  display:flex;
  margin: 2%;
  width: 100px;
  height: 50px;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(104, 109, 110);
  color: white;
  padding: 10px;
}

.delivery-column {
  display:flex;
  flex-flow: column;
  justify-content: center;
}

#delete-btn {
  color: white;
  width: 100px;
  height: 50px;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(207, 14, 14);
}
